#!/bin/bash

OS="$(uname | tr '[:upper:]' '[:lower:]')"

LOCAL_ARCH=$(uname -m)

case "${LOCAL_ARCH}" in
  x86_64)
    ARCH=amd64
    ;;
  armv8*)
    ARCH=arm64
    ;;
  aarch64*)
    ARCH=arm64
    ;;
  armv*)
    ARCH=armv7
    ;;
  amd64|arm64)
    ARCH=${LOCAL_ARCH}
    ;;
  *)
    echo "This system's architecture, ${LOCAL_ARCH}, isn't supported"
    exit 1
    ;;
esac

case "${OS}" in
  linux)
    ARCH=linux
    ;;
  darwin)
    ARCH=macos
    ;;
  *)
    echo "This system's architecture, ${OS}, isn't supported"
    exit 1
    ;;
esac

export PROJECT_HOME="${PWD}"
export KUBECONFIG="${PROJECT_HOME}/main/us-east-1/eks/kubeconfig"
export ISTIO_VERSION=1.5.7
alias k=kubectl
export AWS_PROFILE=aws-security
export AWS_REGION=us-east-1
export ISTIO_HOME="${PWD}/istio-$ISTIO_VERSION"
export AWS_USER="$(aws sts get-caller-identity 2>/dev/null | jq -r '.Arn' | cut -d "/" -f2)"

echo "Please adjust any necessary variable to your environment"
