
export PROJECT_HOME="${PWD}"
unset KUBECONFIG
unset GOOS;
unset GOARCH;
export GOPATH="${HOME}/go"
export GOROOT="${HOME}/.gimme/versions/go1.14.1.darwin.amd64"
export PATH="${HOME}/.gimme/versions/go1.14.1.darwin.amd64/bin:${PATH}:${PWD}/go/bin/";
go version >&2;

export GIMME_ENV='${HOME}/.gimme/envs/go1.14.1.darwin.amd64.env';